$fontpage: 'Montserrat';
$fontcolor: '#0B132A';

@import url("./../font/Montserrat/stylesheet.css");

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
    box-sizing: border-box;
}
.page-wrapper {
    width: 100%;
    min-height: 100vh;
    font-family:  $fontpage;
    color: $fontcolor;
    font-size: 16px;
    .intro {
        position: relative;
        background: linear-gradient(90deg, #DEDEDE -1.37%, rgba(223, 223, 223, 0.96788) 32.73%, rgba(241, 241, 241, 0.410744) 68.04%, rgba(244, 244, 244, 0.32919) 91.77%, #FDFCFC 100%);
        min-height: 775px;
        &::before {
            content: "";
            width: 250px;
            height: 400px;
            background: url(./../img/intro_1.png);
            background-position: left;
            background-size: contain;
            background-repeat: no-repeat;
            display: block;
            position: absolute;
            top: 117px;
            left: 0px;
            z-index: 1;
        }
        &::after {
            content: "";
            width: 700px;
            height: 460px;
            background: url(./../img/intro_2.png);
            background-position: right;
            background-size: contain;
            background-repeat: no-repeat;
            display: block;
            position: absolute;
            top: 200px;
            right: 0px;
            z-index: 1; 
        }
        .logo {
            position: absolute;
            top: 55px;
            left: 150px;
            z-index: 100;
        }
        .text {
            padding-top: 240px;
            padding-left: 150px;
            max-width: 690px;
            position: relative;
            z-index: 100;
            .into_header {
                font-family: $fontpage;
                font-style: normal;
                font-weight: 800;
                font-size: 64px;
                line-height: 70px;
                text-transform: uppercase;
                color: $fontcolor;
                text-shadow: 0px 4px 4px #FFFFFF;
            }
            .intro_info {
                padding-top: 30px;
                padding-bottom: 30px;
                font-family: $fontpage;
                font-style: normal;
                font-size: 32px;
                line-height: 38px;
                color: $fontcolor;
                .info_col {
                    .intro_label {
                        font-weight: bold;
                        display: inline-block;
                    }
                    .intro_value  {
                        display: inline-block;
                    }
                }
            }
        }
    }
    .playLearn {
        background: #010000;
        width: 100%;
        position: relative;
        padding-top: 120px;
        padding-bottom: 150px;
        padding-left: 100px;
        padding-right: 100px;
        &::before {
            content: "";
            width: 300px;
            height: 460px;
            position: absolute;
            background: url(./../img/playLearn_1.png);
            background-position: left;
            background-size: contain;
            background-repeat: no-repeat;
            left: 0px;
            z-index: 1;
            bottom: 0px;
        }
        &::after {
            content: "";
            width: 280px;
            height: 360px;
            position: absolute;
            background: url(./../img/playLearn_2.png);
            background-position: right;
            background-size: contain;
            background-repeat: no-repeat;
            right: 0px;
            top: 80px;
            z-index: 1;
        }
        .playLearn_header {
            font-family: $fontpage;
            font-style: normal;
            font-weight: 800;
            font-size: 52px;
            line-height: 50px;
            text-align: center;
            text-transform: uppercase;
            text-shadow: 0px 4px 4px #000000;
            color: #FFFFFF;
            padding-bottom: 40px;
        }
        .playLearn_blocks {
            position: relative;
            z-index: 100;
            display: flex;
            align-items: stretch;
            justify-content: stretch;
            max-width: 1120px;
            margin: auto;
            .playLearn_item {
                padding: 20px;
                width: 33%;
                &:nth-child(1){
                    .playLearn_block {
                        &::before {
                            content: "";
                            width: 50px;
                            height: 50px;
                            background: url(./../img/greyCircle.png);
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: contain;
                            position: absolute;
                            top: 46px;
                            left: 58px;
                            z-index: 1;
                        }
                    }
                }
                &:nth-child(2){
                    .playLearn_block {
                        &::before {
                            content: "";
                            width: 50px;
                            height: 50px;
                            background: url(./../img/greyCircle.png);
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: contain;
                            position: absolute;
                            top: 40px;
                            left: 19px;
                            z-index: 1;
                        }
                    }
                }
                &:nth-child(3){
                    .playLearn_block {
                        &::before {
                            content: "";
                            width: 50px;
                            height: 50px;
                            background: url(./../img/greyCircle.png);
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: contain;
                            position: absolute;
                            top: 90px;
                            left: 100px;
                            z-index: 1;
                        }
                    }
                }
                .playLearn_block {
                    height: 100%;
                    padding: 70px 30px 30px;
                    background: url(./../img/playLearn_block.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    border-radius: 10px;
                    position: relative;
                    .playLearn_block_header {
                        font-family: $fontpage;
                        font-style: normal;
                        font-weight: 800;
                        font-size: 23px;
                        line-height: 28px;
                        text-decoration-line: underline;
                        text-transform: capitalize;
                        color: $fontcolor;
                        padding-bottom: 18px;
                        position: relative;
                        z-index: 50;
                    }
                    .playLearn_block_text {
                        font-family: $fontpage;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 20px;
                        color: #4F5665;
                        position: relative;
                        z-index: 50;
                    }
                }
            }
        }
    }
    .btn_wrapper {
        .btn {
            display: inline-block;
            text-decoration: none;
            border: none;
            text-transform: none;
            outline: none;
            &.btn_violet {
                font-family: $fontpage;
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: 25px;
                color: #FFFFFF;
                padding: 20px 45px;
                background: linear-gradient(180deg, #49C8FE 0%, #E858FD 50%, #49C8FE 100%);
                background-size: 200% 200%;
                border-radius: 10px;
                cursor: pointer;
                background-position:100% 0%;
                transition: background-position 0.3s ease-in;
                &:hover {
                    background-position:0% 100%;
                }
            }
        }
    }
}
@media screen and (max-width: 1400px) {
    .page-wrapper {
        .playLearn {
            padding-top: 80px;
            padding-bottom: 100px;
            padding-left: 50px;
            padding-right: 50px;
            .playLearn_blocks {
                .playLearn_item {
                    .playLearn_block {
                        padding: 40px 15px 20px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1200px) {
    .page-wrapper {
        .intro {
            &::before {
                width: 200px;
                height: 300px;
            }
            &::after {
                width: 450px;
                height: 360px;
            }
            .text {
                padding-top: 200px;
                padding-left: 100px;
            }
            .logo {
                left: 100px;
            }
        }
        .playLearn {
            padding-top: 80px;
            padding-bottom: 100px;
            padding-left: 50px;
            padding-right: 50px;
            &::before {
                content: "";
                width: 250px;
                height: 400px;
            }
            &::after {
                content: "";
                width: 230px;
                height: 300px;
            }
            .playLearn_blocks {
                .playLearn_item {
                    padding: 10px;
                    .playLearn_block {
                        padding: 40px 15px 20px;
                        .playLearn_block_header {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 992px) {
    .page-wrapper {
        .playLearn {
            padding-top: 50px;
            padding-bottom: 70px;
            padding-left: 30px;
            padding-right: 30px;
            &::before {
                content: "";
                width: 200px;
                height: 300px;
            }
            &::after {
                content: "";
                width: 200px;
                height: 250px;
            }
            .playLearn_blocks {
                .playLearn_item {
                    padding: 10px;
                    .playLearn_block {
                        padding: 30px 10px 20px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .page-wrapper {
        .intro {
            min-height: 500px;
            &::before {
                width: 150px;
                height: 250px;
                top: 80px;
            }
            &::after {
                width: 350px;
                height: 300px;
                top: 80px;
            }
            .text {
                padding-top: 150px;
                padding-left: 50px;
                padding-right: 50px;
                .into_header {
                    font-size: 32px;
                    line-height: 38px;
                    max-width: 300px;
                }
                .intro_info {
                    font-size: 16px;
                    line-height: 20px;
                }
            }
            .logo {
                top: 20px;
                left: 50px;
                img {
                    width: 110px;
                }
            }
        }
        .playLearn {
            padding-top: 50px;
            padding-bottom: 70px;
            padding-left: 30px;
            padding-right: 30px;
            &::before {
                content: "";
                width: 200px;
                height: 300px;
            }
            &::after {
                content: "";
                width: 200px;
                height: 250px;
            }
            .playLearn_header {
                font-size: 32px;
                line-height: 38px;
                padding-bottom: 20px;
            }
            .playLearn_blocks {
                flex-wrap: wrap;
                justify-content: center;
                .playLearn_item {
                    padding: 10px;
                    width: 50%;
                }
            }
        }
        .btn_wrapper {
            .btn {
                &.btn_violet {
                    font-size: 14px;
                    line-height: 16px;
                    padding: 10px 25px;
                }
            }
        }
    }
}
@media screen and (max-width: 600px) {
    .page-wrapper {
        .playLearn {
            padding-bottom: 50px;
            padding-left: 20px;
            padding-right: 20px;
            &::before {
                content: "";
                width: 150px;
                height: 200px;
            }
            &::after {
                content: "";
                width: 150px;
                height: 200px;
            }
            .playLearn_header {
                font-size: 28px;
                line-height: 32px;
            }
            .playLearn_blocks {
                flex-wrap: wrap;
                justify-content: center;
                .playLearn_item {
                    padding: 10px;
                    width: 100%;
                }
            }
        }
    }
}
@media screen and (max-width: 500px) {
    .page-wrapper {
        .intro {
            min-height: auto;
            &::before {
                width: 100px;
                height: 200px;
                top: 50px;
            }
            &::after {
                width: 250px;
                height: 200px;
                top: 170px;
            }
            .text {
                padding-left: 30px;
                padding-right: 30px;
                padding-top: 100px;
                padding-bottom: 80px;
                .into_header {
                    font-size: 28px;
                    line-height: 32px;
                }
            }
            .logo {
                left: 30px;
                img {
                    width: 80px;
                }
            }
        }
    }
}