$fontpage: 'Montserrat';
$fontcolor: #0B132A;

@import url("./../font/Montserrat/stylesheet.css");

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
    box-sizing: border-box;
}

//hide scroll

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #ffffff;
}

.page-wrapper {
    width: 100%;
    min-height: 100vh;
    font-family:  $fontpage;
    color: $fontcolor;
    font-size: 16px;
    .section_content {
        padding-left: 250px;
        padding-right: 250px;
        max-width: 1800px;
        margin: auto;
    }
    .intro {
        position: relative;
        background: linear-gradient(90deg, #DEDEDE -1.37%, rgba(223, 223, 223, 0.96788) 32.73%, rgba(241, 241, 241, 0.410744) 68.04%, rgba(244, 244, 244, 0.32919) 91.77%, #FDFCFC 100%);
        min-height: 775px;
        &::before {
            content: "";
            width: 250px;
            height: 400px;
            background: url(./../img/intro_1.png);
            background-position: left;
            background-size: contain;
            background-repeat: no-repeat;
            display: block;
            position: absolute;
            top: 117px;
            left: 0px;
            z-index: 1;
        }
        &::after {
            content: "";
            width: 700px;
            height: 460px;
            background: url(./../img/intro_2.png);
            background-position: right;
            background-size: contain;
            background-repeat: no-repeat;
            display: block;
            position: absolute;
            top: 200px;
            right: 0px;
            z-index: 1; 
        }
        .logo {
            position: absolute;
            top: 55px;
            left: 150px;
            z-index: 100;
        }
        .text {
            padding-top: 240px;
            max-width: 690px;
            position: relative;
            z-index: 100;
            .into_header {
                font-family: $fontpage;
                font-style: normal;
                font-weight: 800;
                font-size: 64px;
                line-height: 70px;
                text-transform: uppercase;
                color: $fontcolor;
                text-shadow: 0px 4px 4px #FFFFFF;
            }
            .intro_info {
                padding-top: 30px;
                padding-bottom: 30px;
                font-family: $fontpage;
                font-style: normal;
                font-size: 32px;
                line-height: 38px;
                color: $fontcolor;
                .info_col {
                    .intro_label {
                        font-weight: bold;
                        display: inline-block;
                    }
                    .intro_value  {
                        display: inline-block;
                    }
                }
            }
        }
    }
    .playLearn {
        background: #010000;
        width: 100%;
        position: relative;
        padding-top: 120px;
        padding-bottom: 150px;
        &::before {
            content: "";
            width: 300px;
            height: 460px;
            position: absolute;
            background: url(./../img/playLearn_1.png);
            background-position: left;
            background-size: contain;
            background-repeat: no-repeat;
            left: 0px;
            z-index: 1;
            bottom: 0px;
        }
        &::after {
            content: "";
            width: 280px;
            height: 360px;
            position: absolute;
            background: url(./../img/playLearn_2.png);
            background-position: right;
            background-size: contain;
            background-repeat: no-repeat;
            right: 0px;
            top: 80px;
            z-index: 1;
        }
        .playLearn_header {
            font-family: $fontpage;
            font-style: normal;
            font-weight: 800;
            font-size: 52px;
            line-height: 50px;
            text-align: center;
            text-transform: uppercase;
            text-shadow: 0px 4px 4px #000000;
            color: #FFFFFF;
            padding-bottom: 40px;
        }
        .playLearn_blocks {
            position: relative;
            z-index: 100;
            display: flex;
            align-items: stretch;
            justify-content: stretch;
            width: calc(100% + 40px);
            margin-left: -20px;
            margin-right: -20px;
            .playLearn_item {
                padding: 20px;
                width: 33.3%;
                &:nth-child(1){
                    .playLearn_block {
                        &::before {
                            content: "";
                            width: 50px;
                            height: 50px;
                            background: url(./../img/greyCircle.png);
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: contain;
                            position: absolute;
                            top: 46px;
                            left: 58px;
                            z-index: 1;
                        }
                    }
                }
                &:nth-child(2){
                    .playLearn_block {
                        &::before {
                            content: "";
                            width: 50px;
                            height: 50px;
                            background: url(./../img/greyCircle.png);
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: contain;
                            position: absolute;
                            top: 40px;
                            left: 19px;
                            z-index: 1;
                        }
                    }
                }
                &:nth-child(3){
                    .playLearn_block {
                        &::before {
                            content: "";
                            width: 50px;
                            height: 50px;
                            background: url(./../img/greyCircle.png);
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: contain;
                            position: absolute;
                            top: 90px;
                            left: 100px;
                            z-index: 1;
                        }
                    }
                }
                .playLearn_block {
                    height: 100%;
                    padding: 70px 30px 30px;
                    background: url(./../img/playLearn_block.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    border-radius: 10px;
                    position: relative;
                    .playLearn_block_header {
                        font-family: $fontpage;
                        font-style: normal;
                        font-weight: 800;
                        font-size: 23px;
                        line-height: 28px;
                        text-decoration-line: underline;
                        text-transform: capitalize;
                        color: $fontcolor;
                        padding-bottom: 18px;
                        position: relative;
                        z-index: 50;
                    }
                    .playLearn_block_text {
                        font-family: $fontpage;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 20px;
                        color: #4F5665;
                        position: relative;
                        z-index: 50;
                    }
                }
            }
        }
    }
    .queen {
        padding-top: 160px;
        padding-bottom: 100px;
        background: linear-gradient(90deg, #DEDEDE -1.37%, rgba(223, 223, 223, 0.96788) 32.73%, rgba(241, 241, 241, 0.410744) 68.04%, rgba(244, 244, 244, 0.32919) 91.77%, #FDFCFC 100%);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        position: relative;
        overflow: hidden;
        &::before {
            content: "";
            position: absolute;
            background: url(./../img/queen_1.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            bottom: 120px;
            left: 20px;
            width: 310px;
            height: 235px;
            z-index: 1;
        }
        &::after {
            content: "";
            position: absolute;
            background: url(./../img/queen_2.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            top: 40px;
            right: 88px;
            width: 240px;
            height: 215px;
            z-index: 1;
        }
        .queen_row {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            position: relative;
            z-index: 100;
            padding-bottom: 60px;
            .queen_video {
                width: 50%;
                padding-right: 60px;
                padding-top: 20px;
                position: relative;
                .queen_wrraperGif {
                    position: absolute;
                    top: -100px;
                    left: -150px;
                    right: -100px;
                    bottom: -150px;
                    z-index: 100;
                    .queen_gif {
                        position: absolute;
                        background: url(./../img/queen_crop.gif);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                        width: 267px;
                        height: 326px;
                        .queen_gif_close {
                            position: absolute;
                            top: -23px;
                            right: -23px;
                            width: 46px;
                            height: 46px;
                            background: #FEFEFE;
                            box-shadow: 0px 6px 7px rgba(70, 128, 255, 0.1);
                            border-radius: 50%;
                            cursor: pointer;
                            .icon_close {
                                background: url(./../img/icon_close.png);
                                width: 100%;
                                height: 100%;
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: 14px 14px;
                            }
                        }
                    }
                }
                .video_wrap {
                    position: relative;
                    padding-bottom: 56.25%; /* 16:9 */
                    height: 0;
                    z-index: 50;
                    iframe {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .queen_info {
                width: 50%;
                .queen_info_header {
                    font-family: $fontpage;
                    font-style: normal;
                    font-weight: 800;
                    font-size: 32px;
                    line-height: 39px;
                    text-transform: uppercase;
                    color: $fontcolor;
                    padding-bottom: 25px;
                }
                .queen_info_text {
                    font-family: $fontpage;
                    font-style: normal;
                    font-size: 24px;
                    line-height: 29px;
                    color: $fontcolor;
                    .bold {
                        font-weight: 700;
                    }
                    .blue {
                        color: #49C8FE;
                    }
                    .pink {
                        color: #E858FD;
                    }
                }
            }
        }
        .btn_wrapper {
            position: relative;
            z-index: 120;
            text-align: center;
        }
    }
    .slider {
        padding-top: 140px;
        padding-bottom: 200px;
        background: #010000;
        position: relative;
        .slider_bg_1 {
            position: absolute;
            top: 85px;
            left: 125px;
            width: 80px;
            height: 67px;
            background: url(./../img/slider_bg_1.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
        .slider_bg_2 {
            position: absolute;
            top: 200px;
            right: 45px;
            width: 248px;
            height: 232px;
            background: url(./../img/slider_bg_2.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
        .slider_bg_3 {
            position: absolute;
            bottom: 94px;
            left: 60px;
            width: 263px;
            height: 303px;
            background: url(./../img/slider_bg_3.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
        .section_content {
            position: relative;
            z-index: 100;
        }
        .slider_header {
            font-family: $fontpage;
            font-style: normal;
            font-weight: 800;
            font-size: 52px;
            line-height: 50px;
            text-align: center;
            text-transform: uppercase;
            text-shadow: 0px 4px 4px #000000;
            padding-bottom: 60px;
            color: #FFFFFF;
        }
        .slider_container {
            .slick-track {
                display: flex;
                align-items: stretch;
                justify-content: stretch;
                .slick-slide {
                    height: auto;
                }
            }
            .slick-prev {
                background: url(./../img/slider-nav.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                width: 60px;
                height: 60px;
                left: -80px;
                transition: background 0.3s;
                &::before {
                    display: none;
                }
                &:hover {
                    background: url(./../img/slider-nav-hover.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
            .slick-next {
                background: url(./../img/slider-nav.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                width: 60px;
                height: 60px;
                right: -80px;
                transform: rotate(180deg);
                top: calc(50% - 30px);
                transition: background 0.3s;
                &::before {
                    display: none;
                }
                &:hover {
                    background: url(./../img/slider-nav-hover.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
            .item_wrapper {
                padding-top: 50px;
                padding-left: 20px;
                padding-right: 20px;
                outline: none;
                .item {
                    position: relative;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    border-radius: 10px;
                    background: url(./../img/slider_bg.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    padding-top: 64px;
                    padding-left: 30px;
                    padding-right: 30px;
                    padding-bottom: 20px;
                    height: 100%;
                    .slider_icon {
                        position: absolute;
                        width: 92px;
                        height: 92px;
                        top: -46px;
                        left: calc(50% - 46px);
                        background: linear-gradient(180deg, #E858FD 0%, #49C8FE 100%);
                        box-shadow: 0px 4px 4px rgba(73, 200, 254, 0.29);
                        border-radius: 50%;
                        &.icon_game {
                            &::before {
                                content: "";
                                width: 100%;
                                height: 100%;
                                background: url(./../img/icon-play.svg);
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: 54px;
                                display: block;
                            }
                        }
                        &.icon_trade {
                            &::before {
                                content: "";
                                width: 100%;
                                height: 100%;
                                background: url(./../img/icon-trade.svg);
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: 51px;
                                display: block;
                            }
                        }
                        &.icon_biceps {
                            &::before {
                                content: "";
                                width: 100%;
                                height: 100%;
                                background: url(./../img/icon-biceps.svg);
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: 51px;
                                display: block;
                            }
                        }
                    }
                    .item_header {
                        font-family: $fontpage;
                        font-style: normal;
                        font-weight: 800;
                        font-size: 23px;
                        line-height: 28px;
                        text-decoration-line: underline;
                        text-transform: capitalize;
                        color: $fontcolor;
                        padding-bottom: 10px;
                    }
                    .info {
                        font-family: $fontpage;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 11px;
                        line-height: 20px;
                        color: #4F5665;
                        .bold {
                            font-weight: bold;
                            font-size: 14px;
                            line-height: 20px;
                            color: $fontcolor;
                        }
                        .green-arrow {
                            padding-bottom: 20px;
                            li {
                                display: flex;
                                align-items: flex-start;
                                justify-content: flex-start;
                                &::before {
                                    content: "";
                                    display: block;
                                    width: 15px;
                                    min-width: 15px;
                                    height: 20px;
                                    background: url(./../img/green-arrow.svg);
                                    background-position: center;
                                    background-repeat: no-repeat;
                                    background-size: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .btn_wrapper {
        .btn {
            display: inline-block;
            text-decoration: none;
            border: none;
            text-transform: none;
            outline: none;
            &.btn_violet {
                font-family: $fontpage;
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: 25px;
                color: #FFFFFF;
                padding: 20px 45px;
                background: linear-gradient(180deg, #49C8FE 0%, #E858FD 50%, #49C8FE 100%);
                background-size: 200% 200%;
                border-radius: 10px;
                cursor: pointer;
                background-position:100% 0%;
                transition: background-position 0.3s ease-in;
                min-width: 317px;
                text-align: center;
                max-width: 100%;
                &:hover {
                    background-position:0% 100%;
                }
            }
        }
    }
}
@media screen and (max-width: 1600px) {
    .page-wrapper {
        .section_content {
            padding-left: 200px;
            padding-right: 200px;
        }
    }
}
@media screen and (max-width: 1440px) {
    .page-wrapper {
        .section_content {
            padding-left: 150px;
            padding-right: 150px;
        }
        .playLearn {
            padding-top: 80px;
            padding-bottom: 100px;
            // padding-left: 50px;
            // padding-right: 50px;
            .playLearn_blocks {
                .playLearn_item {
                    .playLearn_block {
                        padding: 40px 15px 20px;
                    }
                }
            }
        }
        .queen {
            .queen_row {
                .queen_video {
                    .queen_wrraperGif {
                        .queen_gif{
                            width: 213px;
                            height: 260px;
                        }
                    }
                }
            }
        }
        .slider  {
            .slider_container  {
                .item_wrapper {
                    padding-left: 15px;
                    padding-right: 15px;
                    .item {
                        padding-left: 20px;
                        padding-right: 20px;
                        .item_header {
                            font-size: 20px;
                            line-height: 26px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1200px) {
    .page-wrapper {
        .section_content {
            padding-left: 100px;
            padding-right: 100px;
        }
        .intro {
            &::before {
                width: 200px;
                height: 300px;
            }
            &::after {
                width: 450px;
                height: 360px;
            }
            .text {
                padding-top: 200px;
            }
            .logo {
                left: 100px;
            }
        }
        .playLearn {
            padding-top: 80px;
            padding-bottom: 100px;
            &::before {
                content: "";
                width: 250px;
                height: 400px;
            }
            &::after {
                content: "";
                width: 230px;
                height: 300px;
            }
            .playLearn_blocks {
                .playLearn_item {
                    padding: 10px;
                    .playLearn_block {
                        padding: 40px 15px 20px;
                        .playLearn_block_header {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
        .queen {
            padding-top: 100px;
            padding-bottom: 80px;
            &::before {
                bottom: 100px;
                left: 20px;
                width: 200px;
                height: 200px;
            
            }
            &::after {
                top: 40px;
                right: 68px;
                width: 200px;
                height: 150px;
            }
            .queen_row {
                .queen_video {
                    padding-right: 30px;
                    .queen_wrraperGif {
                        .queen_gif{
                            width: 213px;
                            height: 260px;
                        }
                    }
                }
                .queen_info {
                    .queen_info_header {
                        font-size: 28px;
                        line-height: 32px;
                    }
                    .queen_info_text {
                        font-size: 18px;
                        line-height: 24px;
                    }
                }
            }
        }
        .slider  {
            padding-top: 100px;
            padding-bottom: 150px;
            .slider_bg_1 {
                top: 80px;
                left: 110px;
                width: 70px;
                height: 60px;
            }
            .slider_bg_2 {
                top: 170px;
                right: 40px;
                width: 220px;
                height: 200px;
            }
            .slider_bg_3 {
                bottom: 90px;
                left: 50px;
                width: 250px;
                height: 280px;
            }
            .slider_container  {
                .item_wrapper {
                    padding-left: 10px;
                    padding-right: 10px;
                    .item {
                        padding-left: 15px;
                        padding-right: 15px;
                        .item_header {
                            font-size: 18px;
                            line-height: 24x;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 992px) {
    .page-wrapper {
        .section_content {
            padding-left: 30px;
            padding-right: 30px;
        }
        .playLearn {
            padding-top: 50px;
            padding-bottom: 70px;
            &::before {
                content: "";
                width: 200px;
                height: 300px;
            }
            &::after {
                content: "";
                width: 200px;
                height: 250px;
            }
            .playLearn_blocks {
                .playLearn_item {
                    padding: 10px;
                    .playLearn_block {
                        padding: 30px 10px 20px;
                    }
                }
            }
        }
        .queen {
            padding-top: 80px;
            padding-bottom: 60px;
            .queen_row {
                .queen_video {
                    padding-right: 20px;
                    .queen_wrraperGif {
                        top: -8px;
                        left: -50px;
                        right: -50px;
                        bottom: -80px;
                        .queen_gif{
                            width: 170px;
                            height: 208px;
                        }
                    }
                }
                .queen_info {
                    .queen_info_header {
                        font-size: 24px;
                        line-height: 28px;
                    }
                    .queen_info_text {
                        font-size: 14px;
                        line-height: 18px;
                    }
                }
            }
        }
        .slider  {
            padding-top: 80px;
            padding-bottom: 100px;
            .slider_bg_1 {
                top: 60px;
                left: 80px;
                width: 60px;
                height: 50px;
            }
            .slider_bg_2 {
                top: 150px;
                right: 30px;
                width: 190px;
                height: 160px;
            }
            .slider_bg_3 {
                bottom: 60px;
                left: 40px;
                width: 200px;
                height: 220px;
            }
            .slider_container  {
                margin-left: 60px;
                margin-right: 60px;
                .slick-next {
                    width: 40px;
                    height: 40px;
                    right: -60px;
                    top: calc(50% - 20px);
                }
                .slick-prev {
                    width: 40px;
                    height: 40px;
                    left: -60px;
                }
                .item_wrapper {
                    padding-left: 10px;
                    padding-right: 10px;
                    .item {
                        padding-left: 15px;
                        padding-right: 15px;
                        .item_header {
                            font-size: 18px;
                            line-height: 24x;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .page-wrapper {
        .section_content {
            padding-left: 30px;
            padding-right: 30px;
        }
        .intro {
            min-height: 500px;
            &::before {
                width: 150px;
                height: 250px;
                top: 80px;
            }
            &::after {
                width: 350px;
                height: 300px;
                top: 80px;
            }
            .text {
                padding-top: 150px;
                .into_header {
                    font-size: 32px;
                    line-height: 38px;
                    max-width: 300px;
                }
                .intro_info {
                    font-size: 16px;
                    line-height: 20px;
                }
            }
            .logo {
                top: 20px;
                left: 50px;
                img {
                    width: 110px;
                }
            }
        }
        .playLearn {
            padding-top: 50px;
            padding-bottom: 70px;
            &::before {
                content: "";
                width: 200px;
                height: 300px;
            }
            &::after {
                content: "";
                width: 200px;
                height: 250px;
            }
            .playLearn_header {
                font-size: 32px;
                line-height: 38px;
                padding-bottom: 20px;
            }
            .playLearn_blocks {
                flex-wrap: wrap;
                justify-content: center;
                width: calc(100% + 20px);
                margin-left: -10px;
                margin-right: -10px;
                .playLearn_item {
                    padding: 10px;
                    width: 50%;
                }
            }
        }
        .queen {
            padding-top: 60px;
            padding-bottom: 40px;
            &::before {
                bottom: 60px;
                left: 20px;
                width: 150px;
                height: 150px;
            
            }
            &::after {
                top: 40px;
                right: 28px;
                width: 150px;
                height: 100px;
            }
            .queen_row {
                flex-direction: column-reverse;
                .queen_video {
                    width: 100%;
                    padding-right: 0px;
                }
                .queen_info {
                    width: 100%;
                    padding-bottom: 20px;
                    .queen_info_header {
                        font-size: 24px;
                        line-height: 28px;
                    }
                    .queen_info_text {
                        font-size: 14px;
                        line-height: 18px;
                    }
                }
            }
        }
        .slider  {
            padding-top: 80px;
            padding-bottom: 100px;
            .slider_bg_1 {
                top: 50px;
                left: 70px;
                width: 60px;
                height: 50px;
            }
            .slider_bg_2 {
                top: 120px;
                right: 20px;
                width: 150px;
                height: 120px;
            }
            .slider_bg_3 {
                bottom: 50px;
                left: 30px;
                width: 190px;
                height: 200px;
            }
            .slider_header {
                font-size: 32px;
                line-height: 38px;
                padding-bottom: 30px;
            }
            .slider_container  {
                margin-left: 60px;
                margin-right: 60px;
                .slick-next {
                    width: 40px;
                    height: 40px;
                    right: -60px;
                    top: calc(50% - 20px);
                }
                .slick-prev {
                    width: 40px;
                    height: 40px;
                    left: -60px;
                }
                .item_wrapper {
                    padding-left: 10px;
                    padding-right: 10px;
                    .item {
                        padding-left: 15px;
                        padding-right: 15px;
                        .item_header {
                            font-size: 18px;
                            line-height: 24x;
                        }
                        .slider_icon {
                            width: 50px;
                            height: 50px;
                            top: -25px;
                            left: calc(50% - 25px);
                            &::before {
                                background-size: 50% !important;
                            }
                        }
                    }
                }
            }
        }
        .btn_wrapper {
            .btn {
                &.btn_violet {
                    font-size: 14px;
                    line-height: 16px;
                    padding: 10px 25px;
                    min-width: 200px;
                }
            }
        }
    }
}
@media screen and (max-width: 600px) {
    .page-wrapper {
        .section_content {
            padding-left: 20px;
            padding-right: 20px;
        }
        .playLearn {
            padding-bottom: 50px;
            &::before {
                content: "";
                width: 150px;
                height: 200px;
            }
            &::after {
                content: "";
                width: 150px;
                height: 200px;
            }
            .playLearn_header {
                font-size: 28px;
                line-height: 32px;
            }
            .playLearn_blocks {
                flex-wrap: wrap;
                justify-content: center;
                .playLearn_item {
                    padding: 10px;
                    width: 100%;
                }
            }
        }
    }
}
@media screen and (max-width: 500px) {
    .page-wrapper {
        .intro {
            min-height: auto;
            &::before {
                width: 100px;
                height: 200px;
                top: 50px;
            }
            &::after {
                width: 250px;
                height: 200px;
                top: 170px;
            }
            .text {
                padding-top: 100px;
                padding-bottom: 80px;
                .into_header {
                    font-size: 28px;
                    line-height: 32px;
                }
            }
            .logo {
                left: 30px;
                img {
                    width: 80px;
                }
            }
        }
        .queen {
            .queen_row {
                .queen_video {
                    .queen_wrraperGif {
                        .queen_gif {
                            width: 102px;
                            height: 124px;
                        }
                    }
                }
                .queen_info {
                    .queen_info_header {
                        font-size: 18px;
                        line-height: 24px;
                    }
                    .queen_info_text {
                        font-size: 14px;
                        line-height: 18px;
                    }
                }
            }
        }
        .slider  {
            padding-top: 60px;
            padding-bottom: 80px;
            .slider_bg_1 {
                top: 20px;
                left: 40px;
                width: 50px;
                height: 40px;
            }
            .slider_bg_2 {
                top: 60px;
                right: -25px;
                width: 120px;
                height: 100px;
            }
            .slider_bg_3 {
                bottom: 30px;
                left: 10px;
                width: 120px;
                height: 150px;
            }
            .slider_container  {
                margin-left: 40px;
                margin-right: 40px;
                .slick-next {
                    width: 30px;
                    height: 30px;
                    right: -40px;
                    top: calc(50% - 15px);
                }
                .slick-prev {
                    width: 30px;
                    height: 30px;
                    left: -40px;
                }
                .item_wrapper {
                    padding-left: 5px;
                    padding-right: 5px;
                    .item {
                        padding-left: 10px;
                        padding-right: 10px;
                        .item_header {
                            font-size: 14px;
                            line-height: 18x;
                            min-height: 80px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 350px) {
    .page-wrapper {
        .slider  {
            .slider_container  {
                margin-left: 20px;
                margin-right: 20px;
                .slick-next {
                    width: 20px;
                    height: 20px;
                    right: -30px;
                    top: calc(50% - 10px);
                }
                .slick-prev {
                    width: 20px;
                    height: 20px;
                    left: -30px;
                }
            }
        }
    }
}